* {
  font-family: 'Carter One', cursive;
font-family: 'Poppins', sans-serif;;
}
.navbar {
  background-color:#402a0d;
}
.navbar-brand {
  font-weight: 700;
  color:rgba(224,127,73,255);
}
.nav-link.active {
  font-weight: 700;
}
.nav-link {
  font-weight:bold;
}
.jumbotron {
  padding-top: 6rem;
}
.container {
  background-color: white;
}
ul li {
  list-style-type: none;
  color: rgb(0, 0, 0);
  padding-left: 0px;
}
h3 , h1{
  color: #402a0d;
}
h3 {
  margin: 10px 0px;
}
h5 {
  color: black;
}
p {
  color: #402a0d;
}
.card {
  border: 1px solid #402a0d;
  color: #402a0d;
  border-radius: 5px;
  box-shadow: 6px 4px 8px 6px rgba(54, 48, 98, 0.2);
  padding: 30px;
  cursor: pointer;
  display: flex;
}
.card:hover {
  box-shadow: 6px 4px 8px 6px rgba(54, 48, 98, 0.5);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: #1f2b38;
}

body {
  background-color: rgb(165, 167, 177);
}
.form-control {
  border: 1px solid #402a0d;
}